<!DOCTYPE html>
<html>
<body>
<h2>Hospital Login</h2>
<form method="post" action="/login">
  <input name="email" placeholder="Email"><br>
  <input name="password" type="password" placeholder="Password"><br>
  <button>Login</button>
</form>
<a href="/register">Register</a>
</body>
</html>
