<!DOCTYPE html>
<html lang="en">
<head>
<title>Register</title>
<link rel="stylesheet" href="/style.css">
</head>
<body class="auth-bg">

<div class="auth-card">
  <img src="https://img.icons8.com/color/96/hospital.png" class="logo">
  <h2>Create Account</h2>

  <form action="/register" method="post">
    <input type="text" name="name" placeholder="Full Name" required />
    <input type="email" name="email" placeholder="Email" required />
    <input type="password" name="password" placeholder="Password" required />
    <button>Register</button>
  </form>

  <p>Already registered? <a href="/login">Login</a></p>
</div>

</body>
</html>
